{%extends "layout.html"%}
{% block content %}
<div class="fullWidth">
     {% if message %}
          <h1 class=success><strong>{{ message }}</strong></h1>
     {% endif %} 
    
    <h2>Popular Tools</h2>
    <div class="flexContainer">
        <div class="flexToolContainer">
            <h3><a href="/addPrefixSuffix" class="link-primary">Add Prefix / Suffix</a></h3>
        </div>
        <div class="flexToolContainer">
            <h3><a href="/removeLineBreaks" class="link-primary">Remove Line Breaks</a></h3>
        </div>
        <div class="flexToolContainer">
            <h3><a href="/removeLineNumbering" class="link-primary">Remove Line Numbering</a></h3>
        </div>
    </div>
    <div class="flexContainer">
        <div class="flexToolContainer">
            <h3><a href="/findReplace" class="link-primary">Find and Replace</a></h3>
        </div>
        <div class="flexToolContainer">
            <h3><a href="/removeDuplicateLines" class="link-primary">Remove Duplicate Lines</a></h3>
        </div>
        <div class="flexToolContainer">
            <h3><a href="/removeDuplicateWords" class="link-primary">Remove Duplicate Words</a></h3>
        </div>
    </div>
    <div class="flexContainer">
        <div class="flexToolContainer">
            <h3><a href="/removeEmptyLines" class="link-primary">Remove Empty Lines</a></h3>
        </div>
        <div class="flexToolContainer">
            <h3><a href="/removeEmptySpaces" class="link-primary">Remove Empty Spaces</a></h3>
        </div>
        <div class="flexToolContainer">

        </div>
    </div>

</div>

{%endblock%}