<!DOCTYPE html>
<html>
  <head>
      <title>Text Technician</title>
      <link rel="stylesheet" href="{{url_for('static',filename='App.css')}}">
      <!-- Import Bootstrap CSS formatting -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Import Bootstrap CSS formatting -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Google Font-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
    </head>
  <body>
    <div class="mainBlock">
        <div class="flexContainer">
            <div class="flexsideLeft">
                <h2><a href="/" style="color:#F2F2F2;"><i>Text Technician</i></a></h2>
            </div>
            <div class="flexsideRight">
                <h3>Menu</h3>
            </div>
        </div>
        
        <div class="container">
            {%block content%}
            {%endblock%}
        </div>
    </div>
    <!-- Import Bootstrap CSS formatting -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      // this javascript function is called by the select button to get the 'original' HTML
      // element and select it's text
      function selectAllText() {
          const orig = document.getElementById("Original");
          orig.select()
      }
      // this javascript function selects the 'Original' HTML form element and resets it's text
      function clearAllText() {
          const formEl = document.getElementById("myForm");
          formEl.reset();
          const original = document.getElementById("Original");

          if (original !== null) {
            original.value = '';
          }
          
          const prefix = document.getElementById("Prefix");
          if (prefix !== null) {
            prefix.value = '';
          }
          const suffix = document.getElementById("Suffix")
          if (suffix !== null) {
            suffix.value = '';
          }
          const find = document.getElementById("Find")
          if (find !== null) {
            find.value = '';
          }
          const replace = document.getElementById("Replace")
          if (replace !== null) {
            replace.value = '';
          }
          const formatted = document.getElementById("Formatted")
          if (formatted !== null) {
            formatted.value = '';
          }
      }
    </script>
  </body>
</html>